wails3
build/
!cmd/core-gui/build
cmd/core-gui/build/bin
.task
vendor/
.idea
node_modules/
.DS_Store
*.log
.env
.env.*.local
coverage/
*.cache
/cmd/core-gui/public/dist/assets/index-CXPsZVIz.js
/cmd/core-gui/public/dist/index.html
/cmd/core/bin/
/coverage.txt
/bin/core

# lthn-desktop build artifacts
cmd/lthn-desktop/build/bin/
cmd/lthn-desktop/frontend/dist/
cmd/lthn-desktop/frontend.old/dist/

# core-demo build artifacts
cmd/core-demo/build/bin/
cmd/core-demo/public/dist/
