wails3
build/
!cmd/core-app/build
cmd/core-app/build/bin
.task
vendor/
.idea
node_modules/
.DS_Store
*.log
.env
.env.*.local
coverage/
*.cache
/cmd/core-app/public/dist/assets/index-CXPsZVIz.js
/cmd/core-app/public/dist/index.html
