wails3
build/
!cmd/app/build
vendor/
.idea
node_modules/
.DS_Store
.vscode
*.log
.env
.env.*.local
dist/
*.exe
*.dll
*.so
*.dylib
*.test
coverage/
*.out
*.prof
*.zip
*.tar.gz
*.cache
*.tmp
*.bak
*.swp
*.swo
*.class
*.jar
*.war
*.iml
*.ipr